<section class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>
      <b>Grupo 2:</b>
    </p>
    <p>
      Sergio Geovany Leal Cardona - 
      Carlos Andree Avalos Soto - 
      Kevin Ariel Cruz Ortiz -
      Carlos Josue Monterroso Barrios 

    </p>
  </div>
</section>