<div class="jumbotron mt-4">
  <h1 class="display-4">Proyecto 1 Analisis y Diseño 2</h1>
  <p class="lead">Reminder</p>
  <hr class="my-4">
  <p>
   Se requiere de una aplicación para programar recordatorios de actividades rutinarias, además de actividades que sean de una importancia mayor (como recordatorio de cumpleaños, avisos a Facebook) que podamos comunicarnos y reenviar a nuestros contactos (más de 1 contacto); que nos permita organizarlas por prioridad y clasificarlas de alguna forma entre urgente, mediano y no importante (etiquetas).
  </p>
  <b>
   La aplicación permite agregar notas de voz, imágenes (archivos adjuntos o también iniciar un nuevo archivo desde la cámara), anotaciones, apuntes (tipo Paint), recordatorios, Email (con archivos adjuntos) y también programación hacia mis redes sociales (agregando el contenido de mis redes).
  </b>
  
</div>