<div class="col-md-4 mx-auto">
  <div class="card text-center">
    <div class="card-header">
      <h3>Alarma Completa</h3>
    </div>
    <div class="card-body">
        {{#each vehiculos2}}
        <b>Titulo:</b> {{title}}
        <p><b>Descripcion:</b></p> {{description}}
        
        {{/each}}
         <br>
         <br>
        {{#each galeria2 }}
        <img class="rounded mx-auto d-block" width="300" height="300" src="{{foto}}" alt="Logo">
        <br>
        <br>
        {{/each}}
    </div>
  </div>
</div>
 